<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">

<div class="testbox">
    <h1>Request Friend</h1>

    <form action="/handleRequestFriend">
        <label id="icon" for="friend"><i class="icon-envelope "></i></label>
        <input type="text" name="friend" id="friend" placeholder="friend"/>
        <button type="submit" class="button" align="center">Request Friend</button>
    </form>
</div>