<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">

<div class="testbox">
    <h1>Login</h1>

    <form action="/handleLogin">
        <hr>
        <div class="accounttype">
            <input type="radio" value="None" id="radioOne" name="account" />
            <label for="radioOne" class="radio">Personal</label>
            <input type="radio" value="None" id="radioTwo" name="account" />
            <label for="radioTwo" class="radio">Company</label>
        </div>
        <hr>
        <label id="icon" for="email"><i class="icon-envelope "></i></label>
        <input type="text" name="email" id="email" placeholder="Email" required/>
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input type="text" name="name" id="name" placeholder="Name" required/>

        <div class="gender">
            <input type="radio" value="None" id="male" name="gender" checked/>
            <label for="male" class="radio" chec>Male</label>
            <input type="radio" value="None" id="female" name="gender" />
            <label for="female" class="radio">Female</label>
        </div>
        <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
        <button type="submit" class="button">Login</button>
    </form>
</div>