<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div id="header"><h1>{{id}} </h1></div><br />

<div class="testbox">
    <h1>Add Comment</h1>

    <form action="/handleComment">
        <label id="icon" for="listener"><i class="icon-envelope "></i></label>
        <input type="text" name="listener" id="listener" placeholder="listener"/>
        <label id="icon" for="comment"><i class="icon-user"></i></label>
        <input type="text" name="comment" id="comment" placeholder="comment" required/>
        <button type="submit" class="button">Add</button>
    </form>
</div>
<br />
</body>
</html>