<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">

<div class="testbox">
    <h1>Create Group</h1>

    <form action={{handleUrl}}>
        <hr>
        <label id="icon" for="email"><i class="icon-envelope "></i></label>
        <input type="text" name="groupId" id="groupId" placeholder="groupId" required/>
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input type="text" name="introduction" id="introduction" placeholder="introduction" required/>
        <button type="submit" class="button">Create Group</button>
    </form>
</div>