<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <h1>{{id}}'s requests <a href="/signout">logout</a></h1>
<ul>
    {{#requests}}
    <li>type : {{type}} </li>
    <li>requestor : {{requestor}} </li>
    <li>responder : {{responder}} </li>
    {{#needResponse}}
     <li><a href={{acceptUrl}}>Accept</a></li>
     <li><a href={{declineUrl}}>Decline</a></li>
    {{/needResponse}}
    <li>status : {{status}} </li>
    <li>message : {{message}} </li>
    {{/requests}}
  </ul>
</body>
</html>
