<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div id="header"><h1>{{id}}'s friends <a href="/signout">logout</a></h1></div><br />

<div class="testbox">
    <h1>Friends List</h1>
    {{#friends}}
        <label id="icon" for="listener"><i class="icon-envelope "></i></label>
        <input type="text" name="friendId" id="friendId" placeholder="friendId" value = {{id}} />
        <br />
    {{/friends}}
</div>
<br />
</body>
</html>