<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>{{id}}'s postings <a href="/signout">logout</a></h1>
<ul>
    {{#comments}}
    <li>author : {{author}} </li>
    {{#hasListener}}
        <li>listener : {{listener}} </li>
    {{/hasListener}}
    <li>comment : {{comment}}
        <form action="/handleReComment">
            <input type="text" name= "comment"/>
            <input type="hidden" name="commentId" value = {{commentId}} />
            <input type="submit" name = "submit" value = "Reply" />
        </form>
    </li>
    {{#hasReplies}}
        <li>reply size : {{rSize}} </li>
    {{/hasReplies}}
    {{/comments}}
  </ul>
</body>
</html>