<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div id="header"><h1>{{id}}'s groups <a href="/signout">logout</a></h1></div><br />

<div class="testbox">
    <h1>Groups List</h1>
    {{#groups}}
        <label id="icon" for="listener"><i class="icon-envelope "></i></label>
        <input type="text" name="id" id="id" placeholder="id" value = "id : {{id}} " />
        <br />
        <label id="icon" for="listener"><i class="icon-envelope "></i></label>
        <input type="text" name="name" id="name" placeholder="name" value = "Name : {{name}} " />
        <br />
        <label id="icon" for="listener"><i class="icon-envelope "></i></label>
        <input type="text" name="creators" id="creators" placeholder="creators" value = "Creators : {{creators}} "/>
        <br />
        <label id="icon" for="listener"><i class="icon-envelope "></i></label>
        <input type="text" name="introduction" id="introduction" placeholder="introduction" value = "Introduction : {{introduction}} "/>
        <br />
    {{/groups}}
</div>
<br />
</body>
</html>