<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="stylesheet.css" rel="stylesheet">
<div id="header"><h1>{{id}} </h1></div><br />
<div class="testbox">
    <h1> {{title}} </h1>

    <form action= {{handleUrl}} >
        <label id="icon" for="friendId"><i class="icon-envelope "></i></label>
        <input type="text" name= {{paramName}} id= {{paramName}} placeholder= {{paramName}} required />
        <button type="submit" class="button" align="center"> {{title}} </button>
    </form>
</div>